:root {
    --gap-cards-moblie: 2.2rem;
    --gap-small: 0.8rem;
    --gap-text-12: 1.2rem;
    --gap-inside-18: 1.8rem;
    --bg-color: #161616;
    --btn-primary-bg-color: #D9D9D9;
    --btn-secondary-bg-color: #000000;
    /* --card-bg-color: #3D4D55; */
    --card-bg-color: rgba(255, 242, 242, 0.08);
    --card-border-color: 0.2px solid rgba(255, 252, 252, 0.17);
    --card-h-color: #ffffff;
    --card-p-color: #A79E9C;
    --btn-primary-text-color: #000000;
    --btn-secondary-text-color: #FFFFFF;
    --beige-color: #D3C3B9;
    /* --card-glow-color: rgba(181, 136, 99, 0.5) 0 0 5px 5px; */
    --card-glow-color: 0px 0px 22.8px 12px rgba(255, 252, 252, 0.07), inset 0px -3px 14.8px -2px rgba(255, 252, 252, 0.2);
    --btn-primary-glow-color: 0px 0px 44px -12px #000000;
    --btn-secondary-glow-color: 0px 0px 23.4px rgba(255, 255, 255, 0.32);
    --border-radius: 12px;
    --card-padding-24: 2.4rem;
    --mini-cards-color: rgba(255, 255, 255, 0.3);
    --mini-cards-glow: 0px 0px 10.9px 4px rgba(255, 255, 255, 0.25), inset 0px 0px 23.4px rgba(255, 255, 255, 0.32);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

body {
    /* width: 39.3rem; */
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.games__body__center, .teams__body__center, .blog__body__center, .competition__body__center, #events__count, #events__time, #ranking {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-moblie);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--card-glow-color);
    height: 49.7rem;
    width: 30.5rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--card-bg-color);
}

.card h2, .card h3, .card--tall h2, .card--tall h3, .wide__card h2 {
    color: var(--card-h-color);
    font-weight: medium;
}

.card p, .card--tall p, .wide__card p {
    color: var(--card-p-color);
}

/* btns */
.btn {
    padding: 0.8rem 1.2rem;
    border-radius: 19px;
    font-size: 1.4rem;
    font-weight: bold;
    width: fit-content;
}

.btn--primary {
    background-color: var(--btn-primary-bg-color);
    box-shadow: var(--btn-primary-glow-color);
    color: var(--btn-primary-text-color);
}

.btn--secondary {
    background-color: var(--btn-secondary-bg-color);
    box-shadow: var(--btn-secondary-glow-color);
    color: var(--btn-secondary-text-color);
}

/* games */
#games {
    display: flex;
    flex-direction: column;
}

#games__body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}



#games .card__top {
    height: 22.2rem;
    overflow: hidden;
}

#games .card__top img {
    height: 100%;
    width: 100%;
}

#games .card__bottom {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 27.5rem;
    padding: var(--card-padding-24);
    gap: var(--gap-inside-18);
}

#games .card__bottom__top, .card__bottom__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap-text-12);
}

#games .card__bottom__top {
    color: var(--card-p-color);
}

#games .card__bottom__top::after {
    content: "";
    width: 100%;
    border: 1px solid var(--beige-color);
}

#games .card__bottom__bottom .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-small);
    pointer-events: none;
}

#games .card__bottom__bottom .tags .btn {
    font-weight: inherit;
}

/* competition */
#competition {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-moblie);
}

#competition__body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#competition .card {
    padding: var(--card-padding-24);
    height: 38.1rem;
}

#competition .card__top {
    height: 5.9rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap-text-12);
}

#competition .card__center {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: var(--gap-inside-18);
    padding: var(--card-padding-24) 0;
}

#competition .card__center img {
    width: 100%;
    height: 11.3rem;
    border-radius: var(--border-radius);
}

/* teams */
#teams {
    display: flex;
    flex-direction: column;
}

#teams__body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#teams .card {
    height: 41.9rem;
    padding: 3.2rem var(--card-padding-24);
    gap: var(--card-padding-24);
}

#teams .card img {
    width: 100%;
    object-fit: cover;
}

#teams .card__top {
    max-width: 25.6rem;
    min-height: 17.3rem;
    overflow: hidden;
    border-radius: var(--border-radius);
}

#teams .card__bottom {
    height: 18.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#teams .card__bottom__top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

/* blog */
#blog {
    display: flex;
    flex-direction: column;
}

#blog__body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#blog .card {
    height: 40.6rem;
}

#blog .card__top {
    height: 30rem;
    position: relative;
}

#blog .card__top img {
    height: 100%;
    width: 100%;
}

#blog .card__top h2 {
    position: absolute;
    top: var(--card-padding-24);
    left: var(--card-padding-24);
    text-shadow: 0 0 3px var(--card-p-color);
}

#blog .card__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: var(--card-padding-24);
}

/* ranking */
.card--tall {
    background-color: var(--card-bg-color);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-text-12);
    border-radius: var(--border-radius);
    box-shadow: var(--card-glow-color);
    padding: 3.2rem var(--card-padding-24);
}

#ranking .card--tall .row {
    position: relative;
    display: flex;
    gap: var(--gap-inside-18);
}

/* events */
#events {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#events .rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-inside-18);
}

#events .rows .row {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    height: 15rem;
    width: 15rem;
    background-color: var(--mini-cards-color);
    box-shadow: var(--mini-cards-glow);
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    color: var(--card-h-color);
    font-size: 6.4rem;
    font-weight: 900;
}

#events .rows .row:not(.row--lighter) span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--btn-primary-text-color);
}

#events .rows .row--lighter span:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 500;
}

#events .rows .row--lighter span:nth-child(3) {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--btn-primary-text-color);
}

#events .rows .row--lighter {
    background-color: color-mix(in oklab, var(--mini-cards-color) 50%, transparent 50%)
}

#events #events__time {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#events .wide__card {
    display: flex;
    flex-direction: column;
    background-color: var(--mini-cards-color);
    border-left: 3px solid transparent;
    border-radius: 8px;
    padding: 1.2rem;
    gap: var(--gap-small);
}

#events .wide__card > * {
    display: flex;
    justify-content: space-between;
}

#events .wide__card .top span {
    font-weight: bold;
}

#events .wide__card .bottom > * {
    color: var(--btn-secondary-text-color);
    /* font-weight: bold; */
}

#events .wide__card .bottom {
    gap: var(--gap-text-12);
}

#events .two-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-inside-18);
}

#events .wide__card:nth-child(1), #events .wide__card:nth-child(1) span {
    color: #00FF00;
    border-color: #00FF00;
}

#events .wide__card:nth-child(2), #events .wide__card:nth-child(2) span {
    color: #ffffff;
    border-color: #ffffff;
}

#events .wide__card:nth-child(3), #events .wide__card:nth-child(3) span {
    color: #29C7F3;
    border-color: #29C7F3;
}

#events .wide__card:nth-child(4), #events .wide__card:nth-child(4) span {
    color: #F27B1A;
    border-color: #F27B1A;
}

#events .wide__card:nth-child(5), #events .wide__card:nth-child(5) span {
    color: #E60000;
    border-color: #E60000;
}

@media (min-width: 700px){
    .cards {
        flex-direction: row !important;
        /* flex-wrap: wrap; */
    }
    /* games */

    /* competition */
    #ranking .card--tall {
        width: calc(19.8rem * 3);
    }

    /* teams */

    /* blog */

    /* events */
    #events .card--tall {
        width: calc(19.8rem * 2);
    }
    #events .two-rows {
        flex-direction: row;
        justify-content: space-between;
        gap: calc(var(--gap-text-12) * 10);
    }

    #events .wide__card {
        width: calc(25.5rem * 2);

    }

}